# Git
.git
.github
.gitattributes
.gitignore

# Version Control
.pre-commit-config.yaml
.pre-commit-hooks.yaml
.python-version
.release-please-manifest.json

# Node
node_modules
node_modules/*
package.json
package-lock.json
dist
.npm

# Configuration Files
.eslintignore
.eslintrc.json
.eslintrc.js
.prettierrc.json
.prettierignore
.editorconfig
commitlint.config.js
renovate.json
release-please-config.json
sources.json
cspell.json
.markdownlint.json
.markdownlintignore

# Environment
.env
.env.*
.config
**/.env*
secrets/**
.secrets
jwt_key

# Editor & IDE
.vscode
.vscode/*
.idea
.idea/*
.whitesource
*.code-workspace

# Operating System
.DS_Store
Library/
Thumbs.db
ehthumbs.db

# Documentation
*.md
**/*.md
docs
docs/*
LICENSE
CHANGELOG.md

# Security & Reports
gitleaks-report.json
.gitleaks.toml
.gitleaksignore

# Testing
tests
tests/*
**/*.test*
**/*test/
**/*tests/
**/test-helpers/
__mock*__
jest-html-reporters-*.html
test-results/
coverage
mockbin/

# Logs
logs
*.log
**/*.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Jest
*.jest.*.config.*

# Cypress
**/cypress/videos
**/cypress/screenshots

# Pre-commit installer
prek
prek/*

# Build artifacts
.dockerignore
Dockerfile
